.ad-panel {
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-left: 20px;
  position: sticky;
  top: 100px; /* ostaje fiksirano dok scrolla */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.078);
}

.ad-panel h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-align: center;
  color: #90e0ef;
}

.ad-box {
  width: 100%;
  aspect-ratio: 1/1; /* ovo pravi kvadrat */
  background-color: #2222223d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ad-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Hover efekat */
.ad-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* Mobile responsive */
@media (max-width: 768px) {
  .ad-panel {
    width: 100%;
    padding: 0px;
    margin-left: 0;
    margin-top: 20px;
    align-items: center; /* centriranje sadržaja horizontalno */
    position: relative; /* više nije sticky */
    top: auto;
    order: 2; /* stavlja panel ispod maina */
  }

  .ad-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  }
  /* Ako main-layout koristi flex */
  .main-layout {
    flex-direction: column;
  }

  .center-content {
    order: 1; /* glavni sadržaj ide prvi */
  }

  .right-ad-panel {
    order: 2; /* reklame idu ispod maina */
  }
}
