.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 20px;
}

.center-content {
  flex: 2;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }

  .center-content {
    order: 2;
  }

  .Sidebar {
    order: 3;
  }

  .RightPanel {
    order: 1;
  }
}
/* Desktop stil */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* Tablet i mobilni */
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
.RightPanel {
  width: 300px;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  flex-shrink: 0;
  height: fit-content;
}

/* Sticky desno na desktopu */
@media (min-width: 769px) {
  .RightPanel {
    position: sticky;
    top: 100px; /* ispod header-a */
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .RightPanel {
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
    order: 3;
  }
}
